body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.playgrid {
  display: grid;
  border: 1px solid black;
  height: 450px;
  width: 450px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  justify-content: center;
  text-align: center;
}

.griditem {
  font-size: 5rem;
  justify-self: center;
  height: 150px;
  width: 150px;
}

.playgrid > div:nth-child(2),
.playgrid > div:nth-child(5),
.playgrid > div:nth-child(8) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.playgrid > div:nth-child(4),
.playgrid > div:nth-child(5),
.playgrid > div:nth-child(6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#myform {
  width: 200px;
  height: 20px;
}

.scores {
  margin-top: 2rem;
}

.playeronescore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playertwoscore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
